* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 24px;
}

p {
  font-family: "Zilla Slab", serif;
  line-height: 25px;
}

.flex-container {
  display: flex;
  align-self: center;
  align-content: center;
}
/* ----------Nav Bar--------- */
nav {
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.906);
  z-index: 2;
}

nav p,
ul,
li,
a {
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav {
  justify-content: space-between;
  padding: 0 96px;
  width: 100%;
}
.logo {
  width: 159px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.logo img {
  align-self: center;
  padding-right: 20px;
}

.links {
  width: 409px;
  justify-content: space;
}

li {
  padding: 0 17px;
  color: white;
  list-style-type: none;
  font-style: normal;
}

/* --------Banner---------- */
.main-banner {
  width: 100%;
  height: 80vh;
  background-image: url(./Images/Banner4.jpg);
  background-size: cover;
  justify-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.headline {
  position: absolute;
  color: rgba(247, 239, 239, 0.975);
  left: 40vh;
  top: 35vh;
}

.headline p {
  text-align: center;
}

.main-banner-overlay {
  width: 100%;
  height: 80vh;
  background: #000;
  opacity: 0.3;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
/* ---------About--------- */
.about {
  width: 940px;
  margin: auto;
  /* padding: 73px 0; */
  height: 80vh;
  justify-content: center;
  justify-self: center;
  align-items: center;
}

.center {
  padding: 5vh 0;
  justify-content: center;
  text-align: center;
  height: 772px;
  margin: auto;
  align-items: center;

}

.about img {
  padding: 20px;
}


.nutshell {
  text-align: center;
  justify-content: center;
  width: 934px;
  height: 256px;
  margin: auto;
  background-color: rgba(196, 196, 196, 26%);
  margin: 73px 0 0 0;
}

.nutshell h2 {
  padding-top: 10px;
}

.nutbox {
  margin: auto:
  width: 934px;
  justify-content: space-evenly;
}


.nut {
    display: block;
}

.nut img {
  padding: 10px;
}

/* -----------What I Do---------- */
.what-i-do {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    /* height: 629px; */
    margin: auto;
    background-color: rgba(196, 196, 196, 26%);
    margin-bottom: 73px;
}

.what-i-do h2 {
    padding: 61px 0 32px 0;
}

.what-i-do p {
    width: 335px;
    padding: 8px;
}

.competencies {
  display: block
}

.competencies img {
  margin-bottom: 42px;
}

/* ----------Experience-------------- */
.experience {
  text-align: center;
}

.experience p {
  width: 619px;
  text-align: center;
  margin: auto;
  padding-bottom: 85px;
}

.skills {
  text-align: center;
  justify-content: space-evenly;
  padding: 0 100px
  85px 100px;
}

.fab {
  font-size: 90px;
  color: rgba(0, 0, 0, 90%)
}

.fa-react:hover {
  color: rgba(96, 218, 251, 100%)
}

.fa-html5:hover {
  color: rgba(229, 90, 35, 100%)
}

.fa-js-square:hover {
  color: rgba(247, 223, 31, 100%)
}

.fa-css3-alt:hover {
  color: rgba(37, 76, 228, 100%)
}

.fa-node-js:hover {
  color: rgba(89, 150, 86, 100%)
}

.fa-figma:hover {
  color: linear-gradient(180deg, #EB4A1C 0%, #9D56F8 50%, #0EC981 100%);
}

/* ---------Resume----------- */
.resume {
  background-image: url(./Images/Resume\ Banner\ 1.png);
  width: 100%;
  height: 394px;
  background-position: center;
  text-align: center;
  align-content: center;
  margin-bottom: 85px;
}

.resume h2, p {
  align-self: center;
  align
}

.resume-header {
  width: 420px;
  margin: auto;
}

.resume-header h2 {
  padding-bottom: 20px;
}

.resume-header p {
  border: 2px solid white;
  width: 97px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  margin: auto
}

.resume-header {
  z-index: 2;
  color: white;
}

.resume-overlay {
  width: 100%;
  height: 394px;
  background: #000;
  opacity: 0.5;
  position: absolute;
}

.what-ive-done {
  text-align: center;
  height: 800px;
}


