* {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 24px;
}

p {
  font-family: "Zilla Slab", serif;
}

.flex-container {
  display: flex;
  align-self: center;
}
/* ----------Nav Bar--------- */
nav {
  width: 100%;
  height: 65px;
  justify-content: space-between;
  align-content: center;
  align-content: center;
  position: fixed;
  z-index: 2;
}

nav p,
ul,
li,
a {
  color: white;
  font-family: "Poppins", sans-serif;
}

.nav {
  justify-content: space-between;
  padding: 0 96px;
  width: 100%;
}
.logo {
  width: 159px;
  height: auto;
  justify-content: center;
  align-items: center;
}

.logo img {
  align-self: center;
  padding-right: 20px;
}

.links {
  width: 409px;
  justify-content: space;
}

li {
  padding: 0 17px;
  color: white;
  list-style-type: none;
  font-style: normal;
}

/* --------Banner---------- */
.main-banner {
  width: 100%;
  height: 606px;
  background-image: url(./Images/Main\ Banner.png);
  background-size: cover;
  justify-self: center;
}

.headline {
  position: absolute;
  color: rgba(247, 239, 239, 0.975);
  left: 417px;
  top: 254px;
}

.headline p {
  text-align: center;
}

.main-banner-overlay {
  width: 100%;
  height: 605px;
  background: #000;
  opacity: 0.3;
  position: absolute;
}

.about {
  text-align: center;
  width: 940px;
  margin: auto;
  padding: 73px 0;
}

.about img {
  padding: 20px;
}

.nutshell {
  text-align: center;
  justify-content: center;
  width: 934px;
  margin: auto;
  background-color: rgba(196, 196, 196, 26%);
  margin-bottom: 73px;
}

.nutbox {
  margin: auto:
  width: 934px;
  justify-content: space-evenly;
}


.nut {
    display: block;
}

.what-i-do {
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 629px;
    margin: auto;
    background-color: rgba(196, 196, 196, 26%);
    margin-bottom: 73px;
}

.what-i-do h2 {
    padding: 61px 0 32px 0;
}